<div class="container">
    <mat-card class="mat-elevation-z2 card-box">
        <div class="innerbox">

            <div class="row">
                <div class="col-6">
                    <h3 style="padding-top: 10px;">
                        <strong>Discount Coupons</strong>
                    </h3>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4">
                            <mat-spinner diameter="26" *ngIf="isLoading"></mat-spinner>
                            <button mat-mini-fab (click)="onRefresh()" *ngIf="!isLoading" [color]="'primary'">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <mat-divider></mat-divider>

            <div class="row">
                <div class="col-4">
                    <users-selector (cleared)="onUserCleared()" (selected)="onUserSelected($event)">
                    </users-selector>
                </div>
                <div class="col-3"></div>
                <div class="col-5">
                    <form (ngSubmit)="onSearch()" [formGroup]="searchForm">
                        <button mat-mini-fab type="button" (click)="removeSearch()" [color]="'warn'">
                            <i class="fa fa-times"></i>
                        </button>
                        &nbsp;
                        <mat-form-field>
                            <input autocomplete="off" formControlName="searchInput" matInput placeholder="Search">
                        </mat-form-field>
                        &nbsp;
                        <button mat-mini-fab [color]="'primary'">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>


            <mat-divider></mat-divider>

            <!-- MAT TABLE STARTS HERE -->

            <mat-table [dataSource]="couponsList" class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                    <mat-cell *matCellDef="let element;">{{ element.id }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
                    <mat-cell *matCellDef="let element;">{{ element.title }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="image">
                    <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
                    <mat-cell *matCellDef="let element;">
                        <button (click)="openImageModal(element)" mat-mini-fab [color]="'default'">
                            <i class="fa fa-image"></i>
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="percentage">
                    <mat-header-cell *matHeaderCellDef>Percentage</mat-header-cell>
                    <mat-cell *matCellDef="let element;">{{ element.percentage }} %</mat-cell>
                </ng-container>

                <ng-container matColumnDef="maxUsage">
                    <mat-header-cell *matHeaderCellDef>Max Usage</mat-header-cell>
                    <mat-cell *matCellDef="let element;">{{ element.maxAmountPerUse | number:'.0' }}</mat-cell>
                </ng-container>


                <ng-container matColumnDef="expiry">
                    <mat-header-cell *matHeaderCellDef>Expiry</mat-header-cell>
                    <mat-cell *matCellDef="let element;">{{ getDate(element.expiryDate) | date:'dd/MM/yy' }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="validity">
                    <mat-header-cell *matHeaderCellDef>Validity</mat-header-cell>
                    <mat-cell *matCellDef="let element;">{{ element.validity }} Days</mat-cell>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <mat-header-cell *matHeaderCellDef>
                        <button (click)="onAddCoupon()" [color]="'default'" mat-mini-fab>
                            <i class="fa fa-plus"></i>
                        </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element;">
                        <button (click)="onUpdateCoupon(element)" [color]="'default'" mat-mini-fab>
                            <i class="fa fa-pencil"></i>
                        </button>
                        &nbsp;
                        <button (click)="onCopyCoupon(element)" [color]="'default'" mat-mini-fab>
                            <i class="fa fa-copy"></i>
                        </button>
                        &nbsp;
                        <button (click)="onManageUsers(element)" [color]="'default'" mat-mini-fab>
                            <i class="fa fa-user"></i>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columnsList"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnsList;"></mat-row>
            </mat-table>

            <!-- MAT TABLE ENDS HERE -->

            <br>
            <mat-paginator [pageIndex]="currentPage.page" [length]="totalNumberOfRecords" [pageSize]="currentPage.size"
                [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChanged($event)">
            </mat-paginator>
        </div>
    </mat-card>
</div>