<div class="row">
    <div class="col-12" style="height: 50px;" [align]="'end'">
        <button (click)="onDivRotateLeft()" mat-mini-fab [color]="'default'">
            <mat-icon>undo</mat-icon>
        </button>
        &nbsp;
        <button (click)="onDivRotateRight()" mat-mini-fab [color]="'default'">
            <mat-icon>redo</mat-icon>
        </button>
    </div>
</div>

<!-- <div id="image">
    <img [src]="this.imageUrl" alt="Image Not Found!" class="img-styling" width="250" height="250">
</div> -->


<div class="ngxImageZoomContainer" id="image" >
    <lib-ngx-image-zoom 
        [thumbImage]=imageUrl 
        [fullImage]=imageUrl
        [enableScrollZoom]="true" 
        [enableLens]="true"
        [lensWidth]="200"
        [lensHeight]="200">
        
    </lib-ngx-image-zoom>
        
</div>

<br />

<div class="row" *ngIf="isImageLoading">
    <div class="col-md-2">
        <mat-spinner diameter="20"></mat-spinner>
    </div>
    <div class="col-md-10">
        Loading..
    </div>
    <br>
</div>

<div style="color: red;" class="row" *ngIf="imageLoadingFailed">
    &nbsp;&nbsp;Image Loading failed!
    <br>
</div>