<div class="container">
    <mat-card style="border-radius: 0px; box-shadow: 1px 1px 5px #ccc;">
        <div class="row">
            <div class="col-5">
                <h3 style="padding-top: 10px;">
                    <i class="fa fa-bullhorn fa-lg"></i>
                    &nbsp;
                   <strong> Notifications </strong> 
                </h3>
            </div>
            <div class="col-5">

            </div>
            <div class="col-2" style="padding: 10px;">
                <mat-spinner diameter="26" *ngIf="isLoading"></mat-spinner>
                <button mat-mini-fab (click)="onRefresh()" *ngIf="!isLoading" [color]="'primary'">
                    <i class="fa fa-refresh"></i>
                </button>
                &nbsp;
                <button mat-mini-fab (click)="createNotification()" *ngIf="!isLoading" [color]="'default'">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>

        <mat-divider></mat-divider>

        <!-- <franchise-multiselector
          [inline]="true"
          [restrict]="true"
          [disableCities]="true"
          [disableCountries]="true"
          [(franchises)]="currentPage.userHqList"
          (change)="getListOfNotifications()"
        >

        </franchise-multiselector> -->

        <mat-table [dataSource]="notificationsList" class="mat-elevation-z8">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index">
                    {{ element.id }}
                </mat-cell>
            </ng-container>


            <!-- Title Column -->
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index">
                    {{ element.title }}
                </mat-cell>
            </ng-container>


            <!-- Details Column -->
            <ng-container matColumnDef="details">
                <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index">
                    {{ (element.details.length > 20) ? (element.details | slice:0:18) + '...' : element.details }}
                </mat-cell>
            </ng-container>


            <!-- Type Column -->
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index">
                    {{ element.notifType == 'N' ? 'News' : 'Announcement' }}
                </mat-cell>
            </ng-container>


            <!-- Reached Column -->
            <ng-container matColumnDef="reached">
                <mat-header-cell *matHeaderCellDef>Reached</mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index">
                    {{ element.notifType == 'A' ? 'All' : 'Selected' }}
                </mat-cell>
            </ng-container>

            <!-- Users Column -->
            <ng-container matColumnDef="users">
                <mat-header-cell *matHeaderCellDef>Users</mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index">
                    <button (click)="onManageUsers(element)" mat-mini-fab [color]="'default'">
                        <i class="fa fa-user"></i>
                    </button>
                </mat-cell>
            </ng-container>

            <!-- Send Column -->
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index">
                    <!-- <button (click)="sendNotification(element)" mat-mini-fab [color]="'default'">
                        <i class="fa fa-envelope"></i>
                    </button> -->
                    <button mat-mini-fab (click)="onEdit(element)" [color]="'default'">
                        <i class="fa fa-pencil"></i>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnsList"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsList;"></mat-row>

        </mat-table>

        <br>
        <mat-paginator [pageIndex]="currentPage.page" [length]="totalNumberOfRecords" [pageSize]="currentPage.size"
            [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChanged($event)">
        </mat-paginator>

    </mat-card>
</div>
