<h3>
    <i class="fa fa-table"></i>
    Sheet Upload: 
</h3>

<p style="color: gray;">
    <strong>*</strong> Upload CSV Files Only
</p>

<div [align]="'center'">
    <input [disabled]="isUploading" type="file" id="file1" (change)="onSelected($event)">
    <label for="file1" class="btn-2">upload</label>
    <p>
        Download sample file 
        <a href="../../../assets/DiscCouponUsers.csv" download>here</a>.
    </p>
</div>

<div class="row">
    <div class="col-6">
        <h3>
            <i class="fa fa-user"></i>
            List Of Users:
        </h3>
    </div>
    <div class="col-6" [align]="'end'">
        <button [disabled]="!usersList" mat-raised-button (click)="onSubmit()" [color]="'primary'">
            Submit
        </button>
    </div>
</div>

<mat-progress-bar [color]="'success'" *ngIf="isUploading || isSubmitted" mode="determinate" [value]="progress"></mat-progress-bar>

<!-- MAT TABLE STARTS HERE -->
<mat-table [dataSource]="usersList" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.username }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="maxAmount">
        <mat-header-cell *matHeaderCellDef>Max Amount</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.maxAmount | number:'.0' }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amountUsed">
        <mat-header-cell *matHeaderCellDef>Amount Used</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.amountUsed | number:'.0' }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="usageNumber">
        <mat-header-cell *matHeaderCellDef>Usage Number</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.usageNumber | number:'.0' }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="totalUsage">
        <mat-header-cell *matHeaderCellDef>Total Usage</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.totalUsage | number:'.0' }}
        </mat-cell>
    </ng-container>
   
    <ng-container matColumnDef="unlimited">
        <mat-header-cell *matHeaderCellDef>Usage Time</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.unlimited }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="startingDate">
        <mat-header-cell *matHeaderCellDef>Starting Date</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.startingDate }}
        </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="expiryDate">
        <mat-header-cell *matHeaderCellDef>Expiry Date</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.expiryDate }}
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsList"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsList"></mat-row>

</mat-table>
<!-- MAT TABLE ENDS HERE -->